{
  "Roles": [
    { "id": 1, "name": "Programador" },
    { "id": 2, "name": "Administrador" },
    { "id": 3, "name": "Profesional" },
    { "id": 4, "name": "Estudiante" }
  ],
  "Users": [],
  "Account": [],
  "AccountRoles": [],
  "UserData": [],
  "Notifications": [],
  "InventoryCategory": [],
  "InventoryUnit": [],
  "InventoryProduct": [],
  "InventoryRecipe": [],
  "InventoryMovement": [],
  "CashShift": [],
  "CashShiftMovement": [],
  "Customer": [],
  "Order": [],
  "OrderItem": [],
  "TaskPlan": [],
  "TaskItem": [],
  "PublicidadCampaign": [],
  "PublicidadPlaylistItem": [],
  "PublicidadDevice": [],
  "Expense": [],
  "Income": [],
  "Store": [],
  "HomeProduct": [],
  "Catalog": [],
  "StoreProduct": [],
  "ItemGroup": [],
  "ItemGroupItem": [],
  "Payment": [],
  "EditorTemplate": [],
  "EditorTemplateGroup": [],
  "EditorTemplateLayer": [],
  "EditorLayerProp": [],
  "EditorLayerBind": [],
  "EditorDesign": [],
  "EditorDesignLayerOverride": [],
  "License": [],
  "Logs": []
}
